<div class="container about-page">
	<header class="pageHeader">
		<h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'shell.About.About' | translate}}</h3>
	</header>

	<div class="about" [@fadeInOut]>
		<div class="scroll-up" id="about-text">
			<p class="header-level-1">Заголовок скроллинга</p>
			<p class="header-level-2">Заголовок скроллинга</p>
		</div>
		<div class="gradient">
		</div>
	</div>
	<canvas id="drawCanvas"><p class="noCanvas">You need a <a href="http://www.google.com/chrome">modern browser</a> to view this.</p></canvas>
</div>
